<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recent Articles</title>
</head>
<body>
  <table>
    <tr>
      <td  width="30%" align="center"><img src="../res//images/edited.png" width="200" height="150"></td>
    </tr>
  </table>
  <table border="2">
    <tr>
      <td width="20%" height="100%"><a href="blog.html">Blog</a></td>
      <td width="30%" height="100%"><a href="vital.html">Vital</a></td>
      <td width="50%" height="100%"><a href="shop.html">Buy and Sell</a></td>
      <td width="50%" height="100%"><a href="">Forum</a></td>
    </tr>
  </table>
  <br/>
  <table>
    <tr>
      <form action="" method="post">
        <td width="20%" align="center"><input type="Search" name="Search" placeholder="Enter keyword"><input type="submit" value="Search"></td>
    </tr>
  </table>
      <table>
        <tr>
          <td><h2>Mid-term progress presentation workshop held on determining intrinsic vulnerability and state of groundwater to contamination Awash River Basin </h2>In Addis Ababa Science and Technology University, a Mid-term progress presentation workshop on determining intrinsic vulnerability and state of groundwater to contamination Awash River basin was presented to concerned authorities.The study team comprised scholars of various fields of studies from Addis Ababa Science and Technology University & Addis Ababa University.

The project will be completed in two years and will run from January 2020 to October 2022, according to the project coordinator Dr.Behailu Berhanu.At the conference, the research team presented to the audience the Geological, Hydrological, Data, and Methodology of the study they have achieved so far. Accordingly, participants of the workshop raised different questions, suggestions, and discussions which have a lot of input on the proposed study progress. Finally, the participants reminded the study group that since Awash river basin has a large number of water beneficiaries and areas of development, the ongoing project should be focused on the challenges and being part of the solution.</td>
          
          <td><h2>Addis Ababa Science and Technology University and NOVA Chem. plc. have signed MOU</h2>The MOU will enable AASTU to have Oslo based global standard NOVA Chem. plc., in sectors of consultation on equipment specification and lab arrangement standards for its broad based mineral exploration center of excellence.

President of Addis Ababa Science and Technology University, Doctor Dereje Engida, on the occasion said that the MOU will have significant importance on technology transfer and experience sharing on mineral exploration, geology and mining sectors.

According to doctor Dereje’s statement, this will facilitate the wise use of resources on AASTU’s minerals exploration, teaching learning process, research and center of excellence development activities.

Professor Dejene Kifle, research scientist of mineral exploration of University of Oslo & the managing director of NOVA Chem. plc. expressed that the Nova Chem. plc. is experienced on mineral exploration, chemical laboratory, physical characteristics , training, maintenance of related equipment, service , methodology and  standard  operation procedures.</td>
          <td><h2>Discussion between Addis Ababa Science and Technology University (AASTU) and Memorial University of Newfoundland (MUN)</h2>Associate Dean (Graduate Studies) in the Faculty of Engineering and Applied Science (Prof. Dr. Faisal Irshad Khan) and Manager for International Programs in the in the Faculty of Engineering and Applied Science (Ms. Jinghua Nie) of MUN had great discussion with AASTU’s representatives, which is headed by Dr. Dereje Engida , president of AASTU,. The representatives were enthusiastically     on searching means to make ideas feasible. Different procedures and mechanisms were forwarded to put in on the ground. The discussion was recapped by assigning focal persons from both sides to follow up and further communication.</td>
        </tr>
      </table>
</body>
</html>