<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <div align="center">
      <img src="../res/images/logo.png" alt=""  length="250px" width="100px" />
    </div>
    <h1 align="center">Sign in</h1>
    <div class="signin-form" align="center">
      <form action="blog.html" method="post">
        <p>Username : <input type="text" name="" id="" required="5" /></p>
        <p>Password : <input type="password" name="" id="" required="8" /></p>

        <button type="submit">Sign in</button>
      </form>

      <p>Don't have an account? <a href="signup.html">Sign up</a></p>
    </div>
  </body>
</html>
