<!DOCTYPE html>
<html lang="en">

<head> </head>

<body>
    <table width=80% align="center">
        <tr>
            <th align="center"> <img src="img/logo.png" alt="Logo goes here" length="250px" width="100px"> </th>
        </tr>
        <tr>
            <td>
                <hr size="5px" color="gray">
            </td>
        </tr>
        <tr>
            <td>
                <h1> Offices Information</h1>

            </td>
        </tr>

        <tr>
            <td>
                <h4>About <br></h4>
                <h6>
                    <img src="img/phone.png" length="10px" width="10px">
                    <span> +251 910 234 567
                    </span>
                    <br>
                    <span>
                    <img src="img/tele.png" length="10px" width="10px"> 
                        <a href="Tele.telegram">@WereaDevs</a>
                    </span>
                </h6>
                <hr>
                <h6> &copy 2020 Copyright </h6>
            </td>

        </tr>

    </table>
</body>

</html>