<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <table width=80% align="center">
        <tr>
            <th align="center"> <img src="../res/images/logo.png" alt="Werae logo" length="250px" width="100px"> </th>
        </tr>
        <tr>
            <td>
                <hr size="5px" color="gray">
            </td>
        </tr>
    </table>
    <table width="100%">
        <th font face="Wildwest" width="20%"><a href="blog.html">BLOG</a></th>
        <th font face="Wildwest" width="20%"><a href="vital.html">VITAL</a></th>
        <th font face="Wildwest" width="20%"><a href="forum.html">FORUM</a></th>
        <th font face="Wildwest" width="20%"><a href="shop.html">BUY/SELL</a></th>
        <th font face="Wildwest" width="60%" align="right"><a href="index.html">LOG IN/SIGN UP</a></th>
       </table>
       <br>

    <table width="80%" align="center" border="1">
        <tr>
            <td align="center" colspan="2">
                <h1> <u> SHOPS</u></h1>
                <!-- <hr size="2px" color="black"> -->
            </td>
        </tr>
    </table>

    <table width=80% align="center">
        <tr>
            <td colspan="2" align="center">
                <h2><u> Stationary </u></h2>
            </td>
        </tr>
    </table>
    <table width=80% align="center" border="1">
        <tr>
            <td>
                <h3>Items</h3>
            </td>
            <td valign="baseline">
                <h3>Price</h3>

            </td>

        </tr>


        <tr>

            <td>
                <h4>Binder</h4>
                <img src="../res/images/binder.jpg" alt="Binder" width="30%" height="30%">

            </td>
            <td align="left" width=30%>
                <h5>55ETB</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Exercise Books</h4>
                <img src="../res/images/exbooks.jpg" alt="exbooks" width="30%" height="30%">
            </td>
            <td>
                <h5><br> 50 sheets: 30 ETB <br> 100 sheets: 40 ETB</h5>
            </td>
        </tr>

        <tr>
            <td>
                <h4>Mechanical Pencil</h4>
                <img src="../res/images/fixer.jpg" alt="Mechanical Pencil was here" width="30%" height="30%">
            </td>
            <td>
                <h5><br> 0.5mm and 0.7mm Thickness 25ETB</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Paper</h4>
                <img src="../res/images/paper.jpg" alt="Paper was here" width="30%" height="30%">
            </td>
            <td>
                <h5><br> A4,A2: _ ETB </h5>
            </td>
        </tr>




        <tr>
            <td colspan=2>
                <h4>About <br></h4>
                <h6>
                    <img src="../res/images/phone.png" length="10px" width="10px">
                    <span> +251 910 234 567
                    </span>
                    <br>
                    <span>
                    <img src="../res/images/tele.png" length="10px" width="10px"> 
                        <a href="Tele.telegram">@WereaDevs</a>
                    </span>
                </h6>
                <hr>
                <h6> &copy 2020 Copyright </h6>
            </td>

        </tr>

    </table>
</body>

</html>