<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
</head>

<body>
    <div align="center">
        <img src="../res/images/logo.png" alt="" length="250px" width="100px" />
    </div>
    <h1 align="center">Sign up</h1>
    <div class="signup-form" align="center">
        <form action="blog.html" method="post">
            <p>Full name : <input type="text" name="" id="" required="5" /></p>
            <p>
                Preferred username : <input type="text" name="" id="" required="4" />
            </p>
            <p>
                Institutional email :
                <input type="email" name="" id="" required="12" />
            </p>
            <p>
                College :
                <select name="" id="">
            <option value="ME-E">
              College of Mechanical and Electrical Engineering - Electrical
              Engineering
            </option>
            <option value="ME-M">
              College of Mechanical and Electrical Engineering - Mechanical
              Engineering
            </option>
            <option value="ME-S">
              College of Mechanical and Electrical Engineering - Software
              Engineering
            </option>
            <option value="AC-A">
              College of Architecture and Civil Engineering - Architecture
            </option>
            <option value="AC-C">
              College of Architecture and Civil Engineering - Civil Engineering
            </option>
          </select>
            </p>
            <p>
                Password (at least 8 characters) :
                <input type="password" name="" id="" required="8" />
            </p>
            <p>
                Confirm password :
                <input type="password" name="" id="" required="8" />
            </p>

            <button type="submit"><font face=face="'poppins', sans-serif">Sign up</font> </button>
        </form>
    </div>
</body>

</html>
