<!DOCTYPE html>
<html lang="en">

<head> </head>

<body>
    <table width=80% align="center">
        <tr>
            <th align="center"> <img src="../res/images/edited.png" alt="Logo goes here" length="250px" width="100px"> </th>
        </tr>
        <tr>
            <td>
                <hr size="5px" color="gray">
            </td>
        </tr>
        <tr>
            <td align="center">
                <br>
                <a href="Blog.html"> BLOG &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
                <a href="Vital.html"> VITAL &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
                <a href="shop.html"> BUY & SELL &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
                <a href="forum.html"> FORUM &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
                <br>
                <hr size="5px" color="gray" noshade>
            </td>
        </tr>
        <tr>
            <td align="left">
                <br>
                <a href="Blog.html">
                    <h2>Offices</h2>
                </a>
                <br>
                <hr>
                <a href="shop.html">
                    <h2>Shops</h2>
                </a>
                <br>
                <hr>
                <a href="B&S.html">
                    <h2>Food Courts</h2>
                </a>
                <br>
                <br><br><br><br>
                <hr size="5px" color="gray">
            </td>
        </tr>
        <tr>
            <td>
                <h4>About <br></h4>
                <h6>
                    <img src="img/phone.png" length="10px" width="10px">
                    <span> +251 910 234 567
                    </span>
                    <br>
                    <span>
                    <img src="img/tele.png" length="10px" width="10px"> 
                        <a href="Tele.telegram">@WereaDevs</a>
                    </span>
                </h6>
                <hr>
                <h6> &copy 2020 Copyright </h6>
            </td>

        </tr>

    </table>
</body>

</html>