<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylecopy.css">
    <link rel="stylesheet" href="../styles/header copy.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../js/header.js"></script>
</head>


<body class="blog-body">

    <header class="header">
        <div class="menu-icon">
            <img src="../views/res/close.png" alt="close button" class="menu-btn" id="close" onclick="hide('navlink')">
            <img src="../views/res/menu (1)-modified.png" alt="menu button" class="menu-btn" onclick="show('navlink')" id="menu">
        </div>
        <div class="logo-box">
            <img src="res/images/logo2.png" alt="Werae Logo" class="logo">
        </div>

        <div>
            <ul class="navlinks" id="navlink">
                <li><a href="blog.html" class="navs">BLOG <div class="nav-underline"><span></span></div></a></li>
                <li><a href="forum.html" class="navs">FORUM<div class="nav-underline"><span></span></div></a></li>
                <li><a href="vital.html" class="navs">VITAL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="Buy and sell.html" class="navs">BUY AND SELL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="landingpage.html" class="navs">SERVICES<div class="nav-underline"><span></span></div></a></li>
            </ul>

        </div>
        <a class="signup " href="signin.html"><button class="btn-signin">SIGN IN</button></a>
    </header>
    <div class="top-images-container">
        <div class="first-top-image">
            <div class="forshadow"></div>
            <img src="res/shebas.jpg" alt="">

            <div class="top-content">
                <span>Events</span>
                <h1>His exact words were, “Welcome to the era of hi-tech meetings in East.The president of AASTU, Dr. Tarekegn Tadesse.</h1>
                <small>03 July, 2021</small>

            </div>
        </div>
        <div class="first-top-image">
            <div class="forshadow"></div>
            <img src="res/grad2.jpg" alt="">
            <div class="top-content">

                <span>Events/News</span>
                <h1>2014 E.C. AASTU Graduation Day</h1>
                <small>03 July, 2021</small>

            </div>
        </div>
        <div class="first-top-image">

            <div class="forshadow"></div>
            <img src="res/grad.jpg" alt="">

            <div class="top-content">

                <span>Events/News</span>
                <h1>2014 E.C. AASTU Graduation Day.</h1>
                <small>03 July, 2021</small>

            </div>
        </div>

    </div>
    <div class="blog-content">
        <div class="blog-left-content">

            <div class="top-head">
                <h4> Recent News</h4> <img src="res/newsfeed.png" alt="new feed png">
            </div>
            <div class="blogs">
                <div class="blog-list">
                    <div class="blog-list-img">
                        <img src="res/agreement.jpg" alt="content image">

                        <div class="hover-effect">

                        </div>
                    </div>
                    <div class="blog-list-content">
                        <h4 class="blog-list-header" id="hide">Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University</h4>
                        <p>Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University on October 20/2020. The two parties expressed their intents of collaborative engagements on STEM education, Science
                            Museum and Fabrication Laboratory in the premises of Addis Ababa Science and Technology University.</p>
                        <p id="open-readmore2">
                            The president of the University, Dr. Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak signed the MoU in the presence officials from both parties at Addis Ababa Science and Technology University. The MoU is meant to strengthen
                            the existing STEM centre and Science Museum at AASTU and establishing a new area of business collaboration on Joint Fab-Lab equipped with high precision technology machineries to provide services for innovators and tech enterprises.
                            The University president and STEMpower CEO held discussion on how to functionalize innovation and incubation centres in the University. The MoU will be followed by specific agreements of project implementations based on mutual
                            interests. Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University on October 20/2020. The two parties expressed their intents of collaborative engagements on STEM education,
                            Science Museum and Fabrication Laboratory in the premises of Addis Ababa Science and Technology University. The president of the University, Dr. Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak
                            signed the MoU in the presence officials from both parties at Addis Ababa Science and Technology University. The MoU is meant to strengthen the existing STEM centre and Science Museum at AASTU and establishing a new area of
                            business collaboration on Joint Fab-Lab equipped with high precision technology machineries to provide services for innovators and tech enterprises. The University president and STEMpower CEO held discussion on how to functionalize
                            innovation and incubation centres in the University. The MoU will be followed by specific agreements of project implementations based on mutual interests. Memorandum of Understanding was signed between STEMpower Inc. and Addis
                            Ababa Science and Technology University on October 20/2020. The two parties expressed their intents of collaborative engagements on STEM education, Science Museum and Fabrication Laboratory in the premises of Addis Ababa Science
                            and Technology University. The president of the University, Dr. Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak signed the MoU in the presence officials from both parties at Addis Ababa Science
                            and Technology University. The MoU is meant to strengthen the existing STEM centre and Science Museum at AASTU and establishing a new area of business collaboration on Joint Fab-Lab equipped with high precision technology machineries
                            to provide services for innovators and tech enterprises. The University president and STEMpower CEO held discussion on how to functionalize innovation and incubation centres in the University. The MoU will be followed by specific
                            agreements of project implementations based on mutual interests.</p>
                        <small class="blog-event">Event</small>
                        <small class="date">21 july,2021</small>
                        <button class="readmore" id="readmore2" onclick="openReadmore('open-readmore2','readmore2')">Read more</button>
                    </div>
                </div>

                <div class="blog-list">
                    <div class="blog-list-img">
                        <img src="res/Chemical-stu-1.jpg" alt="content image">

                        <div class="hover-effect">

                        </div>
                    </div>
                    <div class="blog-list-content">
                        <h4 class="blog-list-header" id="hide">AASTU Students Innovate “Pulp” Number One Paper Production Raw Material from Disposable Waste</h4>
                        <p>5th-year female chemical engineering students studying at Addis Ababa Science and Technology University have successfully participated in a project entitled “Pomace pulp” on a job creation competition organized by the Ministry
                            of Labor and Skills of the Federal Democratic Republic of Ethiopia.</p>
                        <p id="open-readmore3">
                            Nardos Alemu, Mahlet Alemayehu, Lydia Tadesse, Samira Jamal, and Lamrot Damene are team members who produced the number one paper production raw material “pulp”. Pulp is lignocellulosic fibrous material prepared by chemically or mechanically separating
                            cellulose fiber from wood fiber, crops, or rags. It is the main raw material used for manufacturing a variety of paper products like paper bags, A4 paper, postcards, etc. Pulp is not manufactured in Ethiopia due to the complicated
                            production processes, cost of machines, and demand for chemicals. And the current data shows that Ethiopia imports about 80,705.91tons of pulp and spends 56,021,900 million USD for paying tax per year. Five-year estimated demand
                            is about 516,547 tons of pulp. Seeing these problems, 5th-year female chemical engineering students studying at Addis Ababa Science and Technology University innovated pulp from disposable waste. If the students’ creative project
                            is funded and turned into action in addition to the benefits of recycling, it plays an important role in maintaining the environment. Besides the project also plays a significant role in reducing the number of trees cut down
                            for paper production and controlling the negative effects of global warming. Moreover, the economic benefits of recycling and disposable waste are enormous because they are available to consumers at low and low prices. Based
                            on the above benefits, the project, which was designed by the students, competed with other competitors and won two hundred and forty-five thousand birr. Lastly, the outstanding and energetic students called private companies,
                            institutions, and other national and international companies for their support in the realization of the project.
                        </p>
                        <small class="blog-event">News/Innovation</small>
                        <small class="date">21 july,2021</small>
                        <button class="readmore" id="readmore3" onclick="openReadmore('open-readmore3','readmore3')">Read more</button>
                    </div>
                </div>
                <div class="blog-list">
                    <div class="blog-list-img">
                        <img src="res/grad.jpg" alt="content image">

                        <div class="hover-effect">

                        </div>
                    </div>
                    <div class="blog-list-content">
                        <h4 class="blog-list-header" id="header5">2014 E.C. AASTU Graduation Day</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa praesentium beatae maxime repudiandae! Suscipit, hic. Non, sequi soluta quia qui reprehenderit atque odio labore deleniti iste excepturi quasi minima.</p>
                        <p id="open-readmore5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consectetur ut saepe laborum ipsa atque dignissimos, fugit officia iure iste consequatur repellendus assumenda perspiciatis? Suscipit est sit ut doloribus quaerat! Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Consectetur ex nulla at recusandae, dolores fuga exercitationem non, facilis obcaecati, explicabo quibusdam laborum. Necessitatibus quam ad laudantium sit maxime et culpa! Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Aut, ipsa alias, ea nemo exercitationem labore corrupti, quae laborum sed excepturi iusto sequi culpa? Nihil, expedita cupiditate nobis ab illum sunt! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Doloribus sint repudiandae possimus excepturi, obcaecati placeat aperiam similique ut assumenda nihil magnam explicabo accusantium necessitatibus eius vitae consequuntur nam, suscipit quos. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Cum nobis laboriosam suscipit facilis tempora animi eaque voluptates deleniti error. Consequatur vero consectetur quos enim? Quas in dolor cupiditate. Nam, id! Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Iure, laborum porro perspiciatis perferendis ad qui placeat eius consequatur. Vitae modi totam debitis odit! Quis vero sunt commodi fugit! Accusamus, fugiat?
                        </p>
                        <small class="blog-event">Event</small>
                        <small class="date">21 july,2021</small>
                        <button class="readmore" id="readmore5" onclick="openReadmore('open-readmore5','readmore5','header5')">Read more</button>
                    </div>
                </div>
                <div class="blog-list">
                    <div class="blog-list-img">
                        <img src="res/erdatawn1.jpg" alt="content image">

                        <div class="hover-effect">

                        </div>
                    </div>
                    <div class="blog-list-content">
                        <h4 class="blog-list-header" id="header1">Johan De Graeve-Support Program for Female Engineering Students Releases Exceptional Funding for 40 AASTU Affluent Female Students</h4>
                        <p>GILDE, Belgium-based, a nonprofit organization is offering financial support for less affluent female engineering students who are committed to scoring high academic achievement but in difficult financial constraints.</p>
                        <p id="open-readmore4">
                            Upon the agreement signed between Gilde Van Ambachten en Neringen Van Leuven and Addis Ababa Science and Technology University; the launching ceremony of the financial support took place in AASTU on February 2, 2022, where 40 affluent female students
                            are planned to be addressed in the program for this year. The financial aid is effective for three consecutive years to the students who have successfully completed their first year with high academic achievement. In the opening
                            ceremony, Dr. Dereje Engida, President of Addis Ababa Science and Technology University, highlighted the benefits that the students would gain from such a partnership. The president stressed, “You will be happy that you will
                            benefit from sponsorship. Money is one of them. It is good if we use it properly, but if we do not, it will lead to negative consequences. You are entrusted with your university and sponsorship, and I beg you to become a good
                            example of students with your achievements and role model for other female students. We also claim that we will be able to track the success of your education with this money.” In his speech, Dr. Dereje highly appreciated and
                            made a tribute to the former university president, Dr. Tarekegn Tadesse, for his tireless work in connecting the donor organization with AASTU and Johan De Graeve for their financial support program for 40 less affluent AASTU
                            female engineering and science students. Similarly, Dr. Tarekegn Tadesse on the occasion explained that Gilde Van Ambachten en Neringen Van Leuvenis the International Engineering Academy, which is the number one university
                            in Science and Engineering in Belgium. This academy has worked with our university for 10 years. The program will continue for the upcoming two years and will provide 25 euros per month for each new affluent female student
                            selected within the university. As a step forward for the next two academic years, 40 new less affluent female students will be selected before the start of each of the two academic years, and the support continues until the
                            end of their study under the name of Johan De Graeve-support program for Female Engineering Students. This financial support will help female students to achieve high scores in their academic careers. Moreover, According to
                            Dr. Tarekegn, this academy has been working with AASTU by providing postgraduate scholarships for ten years. In his final remarks, Dr. Tarkegn Tadesse conveyed a congratulatory message to those who got the financial aid Finally,
                            in the closing remark, Dr. Tarekegn Birehanu, Addis Ababa Science and Technology university academic affairs vice president conveyed his deepest thanks to Dr. Tarkegn Tadesse for his unlimited support and Gilde Van Ambachten
                            en Neringen Van Leuven for their priceless contributions and for supporting financially exposed high caliber female students. In the launching program, Dr. Dereje Engida, President of Addis Ababa Science and Technology University,
                            top management members of AASTU, selected female students as well as invited guests were in attendance at the ceremony.
                        </p>
                        <small class="blog-event">Event</small>
                        <small class="date">21 july,2021</small>
                        <button class="readmore" id="readmore4" onclick="openReadmore('open-readmore4','readmore4','header4')">Read more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-right-content">
            <div class="popular-post">
                <h4>Popular Posts</h4>
                <div class="blogs">
                    <div class="blog-right-list">
                        <div class="blog-right-list-img">
                            <img src="res/aben-tefra-jmddu0RBwIY-unsplash_600x500.jpg" alt="content image">

                            <div class="right-hover-effect">

                            </div>
                        </div>
                        <div class="right-blog-list-content">
                            <h5>top 10 phone applications and 2017 mobile design awards</h5>

                            <small class="right-date">21 july,2021</small>
                        </div>
                    </div>

                    <div class="blog-right-list">
                        <div class="blog-right-list-img">
                            <img src="res/grad.jpg" alt="content image">

                            <div class="right-hover-effect">

                            </div>
                        </div>
                        <div class="right-blog-list-content">
                            <h5>top 10 phone applications and 2017 mobile design awards</h5>

                            <small class="right-date">21 july,2021</small>
                        </div>
                    </div>
                    <div class="blog-right-list">
                        <div class="blog-right-list-img">
                            <img src="res/aggrement2.jpg" alt="content image">

                            <div class="right-hover-effect">

                            </div>
                        </div>
                        <div class="right-blog-list-content">
                            <h5>top 10 phone applications and 2017 mobile design awards</h5>

                            <small class="right-date">21 july,2021</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer class="v-footer">
        <div class="footer-row">
            <div class="footer-col about">
                <h3>About us
                    <div class="underline"><span></span></div>
                </h3>
                <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                </p>

            </div>

            <div class="footer-col info">
                <h3>Information
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Events</a></li>
                    <li><a href=""> Shop</a></li>
                </ul>
            </div>

            <div class="footer-col help">
                <h3>Helpfull Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="#"> Services</a> </li>
                    <li><a href=""> Student info</a></li>
                    <li><a href=""> Terms and Conditions</a></li>
                    <li><a href=""> Privacy Policy </a></li>
                </ul>
            </div>

            <div class="footer-col sub">
                <h3>Subscribe
                    <div class="underline"><span></span></div>
                </h3>
                <form>
                    <input type="email" placeholder="Your email" required>
                    <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                </form>
                <div class="social-icons">
                    <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                    <div><img src="res/social/twitter.png" alt="fb"></div>
                    <div><img src="res/social/linkedin.png" alt="fb"></div>
                    <div><img src="res/social/telegram (2).png" alt="fb"></div>

                </div>

            </div>
        </div>

        <hr>
        <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

    </footer>

</body>

</html>