<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body class="blog-body">
    <header class="header">
        <div class="logo-box">
            <img src="res/images/logo2.png" alt="Werae Logo" class="logo">
        </div>

        <div>
            <ul class="navlinks">
                <li><a href="blog.html" class="navs">BLOG <div class="nav-underline"><span></span></div></a></li>
                <li><a href="forum.html" class="navs">FORUM<div class="nav-underline"><span></span></div></a></li>
                <li><a href="vital.html" class="navs">VITAL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="Buy and sell.html" class="navs">BUY AND SELL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="landingpage.html" class="navs">SERVICES<div class="nav-underline"><span></span></div></a></li>
            </ul>

        </div>
        <a class="signup " href="signin.html"><button class="btn-signin">SIGN IN</button></a>
    </header>


    <!-- official blog -->
    <div class="official-blog">
        <div class="first-blog">
            <div class="event-type"><span> News</span>
                <span>Event</span></div>

            <div class="blog-header">
                <h1>Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University</h1>
            </div>
            <div class="datepublished">October 21, 2020</div>
            <div class="img-content">
                <div class="blog-img-div">
                    <img src="res/agreement.jpg" alt="" class="blog-img">
                </div>
                <p class="blog-content">
                    Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University on October 20/2020. The two parties expressed their intents of collaborative engagements on STEM education, Science Museum and Fabrication
                    Laboratory in the premises of Addis Ababa Science and Technology University. The president of the University, Dr. Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak signed the MoU in the presence officials
                    from both parties at Addis Ababa Science and Technology University. The MoU is meant to strengthen the existing STEM centre and Science Museum at AASTU and establishing a new area of business collaboration on Joint Fab-Lab equipped
                    with high precision technology machineries to provide services for innovators and tech enterprises. The University president and STEMpower CEO held discussion on how to functionalize innovation and incubation centres in the University.
                    The MoU will be followed by specific agreements of project implementations based on mutual interests. Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University on October 20/2020.
                    The two parties expressed their intents of collaborative engagements on STEM education, Science Museum and Fabrication Laboratory in the premises of Addis Ababa Science and Technology University. The president of the University, Dr.
                    Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak signed the MoU in the presence officials from both parties at Addis Ababa Science and Technology University. The MoU is meant to strengthen the existing
                    STEM centre and Science Museum at AASTU and establishing a new area of business collaboration on Joint Fab-Lab equipped with high precision technology machineries to provide services for innovators and tech enterprises. The University
                    president and STEMpower CEO held discussion on how to functionalize innovation and incubation centres in the University. The MoU will be followed by specific agreements of project implementations based on mutual interests. Memorandum
                    of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University on October 20/2020. The two parties expressed their intents of collaborative engagements on STEM education, Science Museum and Fabrication
                    Laboratory in the premises of Addis Ababa Science and Technology University. The president of the University, Dr. Dereje Engida and Chief Executive Officer of STEMpower, Ms. Kidist Gebreamlak signed the MoU in the presence officials
                    from both parties at Addis Ababa Science and Technology University. The MoU is meant to strengthen the existing STEM centre and Science Museum at AASTU and establishing a new area of business collaboration on Joint Fab-Lab equipped
                    with high precision technology machineries to provide services for innovators and tech enterprises.
                    <img src="res/aggrement2.jpg" alt="" class="blog-img-inside">The University president and STEMpower CEO held discussion on how to functionalize innovation and incubation centres in the University. The MoU will be followed by specific
                    agreements of project implementations based on mutual interests.
                </p>

            </div>
        </div>

        <div class="first-blog">
            <div class="event-type"><span> News</span>


                <div class="blog-header">
                    <h1>Memorandum of Understanding was signed between STEMpower Inc. and Addis Ababa Science and Technology University</h1>
                </div>
                <div class="datepublished">October 21, 2020</div>
                <div class="img-content">
                    <div class="blog-img-div">
                        <img src="res/Awash-river.jpg" alt="aggree" class="blog-img">
                    </div>
                    <p class="blog-content">
                        In Addis Ababa Science and Technology University, a Mid-term progress presentation workshop on determining intrinsic vulnerability and state of groundwater to contamination Awash River basin was presented to concerned authorities.The study team comprised
                        scholars of various fields of studies from Addis Ababa Science and Technology University & Addis Ababa University. The project will be completed in two years and will run from January 2020 to October 2022, according to the project
                        coordinator Dr.Behailu Berhanu.At the conference, the research team presented to the audience the Geological, Hydrological, Data, and Methodology of the study they have achieved so far. Accordingly, participants of the workshop
                        raised different questions, suggestions, and discussions which have a lot of input on the proposed study progress. Finally, the participants reminded the study group that since Awash river basin has a large number of water beneficiaries
                        and areas of development, the ongoing project should be focused on the challenges and being part of the solution.


                    </p>

                </div>
            </div>
        </div>
        <footer class="v-footer">
            <div class="footer-row">
                <div class="footer-col about">
                    <h3>About us
                        <div class="underline"><span></span></div>
                    </h3>
                    <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                    </p>

                </div>

                <div class="footer-col info">
                    <h3>Information
                        <div class="underline"><span></span></div>
                    </h3>
                    <ul>
                        <li><a href=""> About us </a></li>
                        <li><a href=""> Blog</a></li>
                        <li><a href=""> Events</a></li>
                        <li><a href=""> Shop</a></li>
                    </ul>
                </div>

                <div class="footer-col help">
                    <h3>Helpfull Links
                        <div class="underline"><span></span></div>
                    </h3>
                    <ul>
                        <li><a href="#"> Services</a> </li>
                        <li><a href=""> Student info</a></li>
                        <li><a href=""> Terms and Conditions</a></li>
                        <li><a href=""> Privacy Policy </a></li>
                    </ul>
                </div>

                <div class="footer-col sub">
                    <h3>Subscribe
                        <div class="underline"><span></span></div>
                    </h3>
                    <form>
                        <input type="email" placeholder="Your email" required>
                        <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                    </form>
                    <div class="social-icons">
                        <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                        <div><img src="res/social/twitter.png" alt="fb"></div>
                        <div><img src="res/social/linkedin.png" alt="fb"></div>
                        <div><img src="res/social/telegram (2).png" alt="fb"></div>

                    </div>

                </div>
            </div>

            <hr>
            <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

        </footer>

</body>

</html>