<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/buyandsell.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Buy and Sell</title>



</head>

<body>
    <div class="backg"></div>
    <header class="header">
        <div class="logo-box">
            <img src="res/images/logo2.png" alt="Werae Logo" class="logo">
        </div>

        <div>
            <ul class="navlinks">
                <li><a href="blog.html" class="navs">BLOG <div class="nav-underline"><span></span></div></a></li>
                <li><a href="forum.html" class="navs">FORUM<div class="nav-underline"><span></span></div></a></li>
                <li><a href="vital.html" class="navs">VITAL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="Buy and sell.html" class="navs">BUY AND SELL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="landingpage.html" class="navs">SERVICES<div class="nav-underline"><span></span></div></a></li>
            </ul>

        </div>
        <a class="signup " href="#"><button class="btn-signin">SIGN IN</button></a>
    </header>

    <div class="bs-body">

        <div class="bs-sidebar">
            <div class="bs-logodiv">
                <div class="bs-sidebar-logoname"><span> Werae shop</span></div>
                <div class="bs-sidebar-logo"><img src="res/shopingcart.png" alt="cart"></div>

            </div>
            <div class="bs-sidebar-navs">
                <ul class="bs-main-nav">
                    <li class="nav-sortby"> <span> Sort buy</span></li>
                    <li><select>
                        <option value=""></option>
                        <option value="none">Latest</option>
                        <option value="none">Relevance</option>
                    </select></li>
                    <li class="nav-cat"><span>Categories</span>
                        <ul class="catlist">
                            <li>Electronics</li>
                            <li>Fashion and Beauty</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bs-topbar">
            <div class="bs-searchbar"><input type="text" name="searchbar" placeholder="I am looking for.."></div>
            <div class="bs-search-icon"> <button>Search</button></div>
        </div>

    </div>
    <div class="bs-content">

        <div class="item">

            <div class="item-img"><img src="res/howard-bouchevereau-RSCirJ70NDM-unsplash.jpg" alt=""></div>
            <div class="item-info">
                <div class="item-name"><span> Mac Book air </span></div>
                <div class="item-condition"> <span>Slightly used</span></div>
                <div class="item-brand"><span> Apple </span></div>
                <div class="item-postdate"><span> jan 29/2021 8:30pm </span></div>
                <div class="item-price"> ETB 25,000 </div>
                <div class="hashtag"><span>#Electronics</span></div>

            </div>
            <div class="item-contact">
                <div>
                    <img src="res/phone-call.png" alt="">
                </div>
                <div>
                    <img src="res/telegram2.png" alt=""></div>
            </div>
        </div>




    </div>

    <div class="bs-content">

        <div class="item">

            <div class="item-img"><img src="res/anh-nhat-PdALQmfEqvE-unsplash.jpg" alt=""></div>
            <div class="item-info">
                <div class="item-name"><span> Samsung Galaxy S21 5G </span></div>
                <div class="item-condition"> <span>New</span></div>
                <div class="item-brand"><span> Samsung </span></div>
                <div class="item-postdate"><span> jan 29/2021 8:30pm </span></div>
                <div class="item-price"> ETB 11,000 </div>
                <div class="hashtag"><span>#Electronics</span></div>

            </div>
            <div class="item-contact">
                <div>
                    <img src="res/phone-call.png" alt="">
                </div>
                <div>
                    <img src="res/telegram2.png" alt=""></div>
            </div>
        </div>




    </div>
    <div class="bs-content">

        <div class="item">

            <div class="item-img"><img src="res/howard-bouchevereau-RSCirJ70NDM-unsplash.jpg" alt=""></div>
            <div class="item-info">
                <div class="item-name"><span> Mac Book air </span></div>
                <div class="item-condition"> <span>Slightly used</span></div>
                <div class="item-brand"><span> Apple </span></div>
                <div class="item-postdate"><span> jan 29/2021 8:30pm </span></div>
                <div class="item-price"> ETB 25,000 </div>
                <div class="hashtag"><span>#Electronics</span></div>

            </div>
            <div class="item-contact">
                <div>
                    <img src="res/phone-call.png" alt="">
                </div>
                <div>
                    <img src="res/telegram2.png" alt=""></div>
            </div>
        </div>




    </div>
    <div class="bs-content">

        <div class="item">

            <div class="item-img"><img src="res/howard-bouchevereau-RSCirJ70NDM-unsplash.jpg" alt=""></div>
            <div class="item-info">
                <div class="item-name"><span> Mac Book air </span></div>
                <div class="item-condition"> <span>Slightly used</span></div>
                <div class="item-brand"><span> Apple </span></div>
                <div class="item-postdate"><span> jan 29/2021 8:30pm </span></div>
                <div class="item-price"> ETB 25,000 </div>
                <div class="hashtag"><span>#Electronics</span></div>

            </div>
            <div class="item-contact">
                <div>
                    <img src="res/phone-call.png" alt="">
                </div>
                <div>
                    <img src="res/telegram2.png" alt=""></div>
            </div>
        </div>




    </div>
    <div class="bs-content">

        <div class="item">

            <div class="item-img"><img src="res/howard-bouchevereau-RSCirJ70NDM-unsplash.jpg" alt=""></div>
            <div class="item-info">
                <div class="item-name"><span> Mac Book air </span></div>
                <div class="item-condition"> <span>Slightly used</span></div>
                <div class="item-brand"><span> Apple </span></div>
                <div class="item-postdate"><span> jan 29/2021 8:30pm </span></div>
                <div class="item-price"> ETB 25,000 </div>
                <div class="hashtag"><span>#Electronics</span></div>

            </div>
            <div class="item-contact">
                <div>
                    <img src="res/phone-call.png" alt="">
                </div>
                <div>
                    <img src="res/telegram2.png" alt=""></div>
            </div>
        </div>




    </div>
    <footer class="v-footer">
        <div class="footer-row">
            <div class="footer-col about">
                <h3>About us
                    <div class="underline"><span></span></div>
                </h3>
                <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                </p>

            </div>

            <div class="footer-col info">
                <h3>Information
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Events</a></li>
                    <li><a href=""> Shop</a></li>
                </ul>
            </div>

            <div class="footer-col help">
                <h3>Helpfull Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="#"> Services</a> </li>
                    <li><a href=""> Student info</a></li>
                    <li><a href=""> Terms and Conditions</a></li>
                    <li><a href=""> Privacy Policy </a></li>
                </ul>
            </div>

            <div class="footer-col sub">
                <h3>Subscribe
                    <div class="underline"><span></span></div>
                </h3>
                <form>
                    <input type="email" placeholder="Your email" required>
                    <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                </form>
                <div class="social-icons">
                    <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                    <div><img src="res/social/twitter.png" alt="fb"></div>
                    <div><img src="res/social/linkedin.png" alt="fb"></div>
                    <div><img src="res/social/telegram (2).png" alt="fb"></div>

                </div>

            </div>
        </div>

        <hr>
        <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

    </footer>

</body>

</html>