<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/forum.css">
    <title>Document</title>


</head>

<body>
    <header class="header">
        <div class="logo-box">
            <img src="res/images/logo2.png" alt="Werae Logo" class="logo">
        </div>

        <div>
            <ul class="navlinks">
                <li><a href="blog.html" class="navs">BLOG <div class="nav-underline"><span></span></div></a></li>
                <li><a href="forum.html" class="navs">FORUM<div class="nav-underline"><span></span></div></a></li>
                <li><a href="vital.html" class="navs">VITAL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="Buy and sell.html" class="navs">BUY AND SELL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="landingpage.html" class="navs">SERVICES<div class="nav-underline"><span></span></div></a></li>
            </ul>

        </div>
        <a class="signup " href="#"><button class="btn-signin">SIGN IN</button></a>
    </header>
    <div class="header2">
        <ul class="qa-nav">
            <li class="qa-home">
                <a href=""><img src="res/home.png" alt="home"></a>
            </li>
            <li class="qa-answer">
                <a href=""><img src="res/edit.png" alt="answer"></a>
            </li>
            <li class="searchbar"><input type="text" placeholder="search Werae">
                <div class="search-div">
                    <img src="res/search.png" alt="" class="search-icon">
                </div>
            </li>
            <li><button class="btn-addq"><a href="" class="except"> Add Question</a></button></li>
            <li class="qa-account">
                <a href=""> <img src="res/account.png" alt=""></a>
            </li>
        </ul>
    </div>
    <div class="main-container">
        <div class="sidebar">
            <!-- <ul>
                <li>Academic</li>
                <li>Administrator</li>

            </ul> -->
        </div>
        <div class="qa-section">
            <div class="question">
                <h4>Questions for you</h4>
            </div>
            <div class="question">
                <div class="account-div">
                    <div class="profile-picture"> <img class=".avatar" src="res/account.png" alt="Profile"> </div>
                    <div class="account-info">

                        <div class="account-name">
                            <p> Gifti Tadesse </p>
                        </div>

                        <div class="self-desc">
                            <p>3rd Year Software Engineering </p>
                        </div>
                    </div>

                </div>
                <div class="question-div">
                    <div class="question-title">
                        <p>Can I add classes after add drop?</p>
                    </div>
                    <div class="question-content">
                        <p>I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after
                            add and drop case day
                        </p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="account-div">
                    <div class="profile-picture"> <img class=".avatar" src="res/account.png" alt="Profile"> </div>
                    <div class="account-info">

                        <div class="account-name">
                            <p> Aben Tefera </p>
                        </div>

                        <div class="self-desc">
                            <p>5rd Year Environmental Engineering </p>
                        </div>
                    </div>

                </div>
                <div class="question-div">
                    <div class="question-title">
                        <p>Can I add classes after add drop?</p>
                    </div>
                    <div class="question-content" id="getback">
                        <p>I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after
                            add and drop case day
                        </p>




                        <div class="ans-btn"><a href="#anchored"><button>Answer</button></a></div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="question">
                <div class="account-div">
                    <div class="profile-picture"> <img class=".avatar" src="res/account.png" alt="Profile"> </div>
                    <div class="account-info">

                        <div class="account-name">
                            <p> Yohannes Kassa </p>
                        </div>

                        <div class="self-desc">
                            <p>3rd Year Software Engineering </p>
                        </div>
                    </div>

                </div>
                <div class="question-div">
                    <div class="question-title">
                        <p>Can I add classes after add drop?</p>
                    </div>
                    <div class="question-content">
                        <p>I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after
                            add and drop case day
                        </p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="account-div">
                    <div class="profile-picture"> <img class=".avatar" src="res/account.png" alt="Profile"> </div>
                    <div class="account-info">

                        <div class="account-name">
                            <p> Yohannes Kassa </p>
                        </div>

                        <div class="self-desc">
                            <p>3rd Year Software Engineering </p>
                        </div>
                    </div>

                </div>
                <div class="question-div">
                    <div class="question-title">
                        <p>Can I add classes after add drop?</p>
                    </div>
                    <div class="question-content">
                        <p>I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after
                            add and drop case day
                        </p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="account-div">
                    <div class="profile-picture"> <img class=".avatar" src="res/account.png" alt="Profile"> </div>
                    <div class="account-info">

                        <div class="account-name">
                            <p> Yohannes Kassa </p>
                        </div>

                        <div class="self-desc">
                            <p>3rd Year Software Engineering </p>
                        </div>
                    </div>

                </div>
                <div class="question-div">
                    <div class="question-title">
                        <p>Can I add classes after add drop?</p>
                    </div>
                    <div class="question-content">
                        <p>I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after add and drop case day I have been wondering if it is possible to add classes after
                            add and drop case day
                        </p>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="accname">
                </div>
                <div>
                    <h3 class="title">Can I add classes after add drop?</h3>
                </div>
                <div>
                    <p>I have been wondering if it is possible to add classes after add and drop case day</p>
                </div>
            </div>

        </div>
    </div>
    <!-- <div id="anchored">
        <div class="popup">
            <h1>Answer my question please</h1>
            <input type="text" style="width: 100px;height: 50px;">
            <a href="#getback"> <button>Close</button></a>
        </div>
    </div> -->
    <footer class="v-footer">
        <div class="footer-row">
            <div class="footer-col about">
                <h3>About us
                    <div class="underline"><span></span></div>
                </h3>
                <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                </p>

            </div>

            <div class="footer-col info">
                <h3>Information
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Events</a></li>
                    <li><a href=""> Shop</a></li>
                </ul>
            </div>

            <div class="footer-col help">
                <h3>Helpfull Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="#"> Services</a> </li>
                    <li><a href=""> Student info</a></li>
                    <li><a href=""> Terms and Conditions</a></li>
                    <li><a href=""> Privacy Policy </a></li>
                </ul>
            </div>

            <div class="footer-col sub">
                <h3>Subscribe
                    <div class="underline"><span></span></div>
                </h3>
                <form>
                    <input type="email" placeholder="Your email" required>
                    <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                </form>
                <div class="social-icons">
                    <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                    <div><img src="res/social/twitter.png" alt="fb"></div>
                    <div><img src="res/social/linkedin.png" alt="fb"></div>
                    <div><img src="res/social/telegram (2).png" alt="fb"></div>

                </div>

            </div>
        </div>

        <hr>
        <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

    </footer>

</body>

</html>