<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/landingstyle.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/header copy.css">
    <script src="../js/header.js"></script>
    <script src="../js/vanilla-tilt.js"></script>
    <title>Document</title>


</head>

<body>
    <header class="header">
        <div class="menu-icon">
            <img src="../views/res/close.png" alt="close button" class="menu-btn" id="close" onclick="hide('navlink')">
            <img src="../views/res/menu (1)-modified.png" alt="menu button" class="menu-btn" onclick="show('navlink')" id="menu"></div>
        <div class="logo-box">
            <img src="res/images/logo2.png" alt="Werae Logo" class="logo">
        </div>

        <div>
            <ul class="navlinks" id="navlink">
                <li><a href="blog.html" class="navs">BLOG <div class="nav-underline"><span></span></div></a></li>
                <li><a href="forum.html" class="navs">FORUM<div class="nav-underline"><span></span></div></a></li>
                <li><a href="vital.html" class="navs">VITAL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="Buy and sell.html" class="navs">BUY AND SELL<div class="nav-underline"><span></span></div></a></li>
                <li><a href="landingpage.html" class="navs">SERVICES<div class="nav-underline"><span></span></div></a></li>
            </ul>

        </div>
        <a class="signup " href="signin.html"><button class="btn-signin">SIGN IN</button></a>
    </header>
    <div class="intro">
        <div class="moto">
            <h1 class="main-header">
                <span class="no1">"All</span>
                <span class="no2">in</span>
                <span class="no3"> one"</span>

            </h1>
        </div>
        <div class="quote">
            <p>Get all you need at <em> Werae</em>. we have brought a greate platform to fullfill our Campus needs.</p>
            <div class="btn-service">
                <a href="#Services"> <button>SERVICES</button></a>
            </div>
        </div>

    </div>

    <div class="features-box">

        <div class="feature-header">
            <h1>
                <a name="Services"> Services</a></h1>
        </div>

        <div class="feature feature-blog">
            <!-- <div class="icon-box"><img src="res/blogging.png" alt="blog icon" class="icon blog-icon"></div> -->
            <div class="lp-content">
                <div class="service-logo"><img src="res/services/blogging (1).png" alt=""></div>
                <h3>Official Blog</h3>

                <ul class="feature-list">
                    <li>Upcoming Events</li>
                    <li>Relevant Information</li>
                    <li>Notices</li>
                </ul>

            </div>
        </div>

        <div class="feature feature-forum">
            <!-- <div class="icon-box"><img src="res/blogging.png" alt="blog icon" class="icon blog-icon"></div> -->

            <div class="lp-content">
                <div class="service-logo"><img src="res/services/discussion.png" alt=""></div>
                <h3>Discussion</h3>

                <ul class="feature-list">
                    <li> Ask Question</li>
                    <li> Answer Question</li>
                    <li>Notices</li>
                </ul>

            </div>



        </div>

        <div class="feature feature-vital">
            <!-- <div class="icon-box"><img src="res/blogging.png" alt="blog icon" class="icon blog-icon"></div> -->

            <div class="lp-content">
                <div class="service-logo"><img src="res/services/info.png" alt=""></div>
                <h3>Vital Information</h3>

                <ul class="feature-list">
                    <li> Building Information</li>
                    <li> Academic Information</li>
                    <li> Rules and Regulation</li>
                </ul>

            </div>



        </div>

        <div class="feature feature-shop">
            <!-- <div class="icon-box"><img src="res/blogging.png" alt="blog icon" class="icon blog-icon"></div> -->

            <div class="lp-content">
                <div class="service-logo"><img src="res/services/cart.png" alt=""></div>
                <h3>Shop</h3>

                <ul class="feature-list">
                    <li>Sell Your Items</li>
                    <li> Buy Items</li>

                </ul>

            </div>



        </div>

        <div class="btn-getstarted">
            <a href="blog.html"><button><span> Get Started </span><img src="res/next.png" alt="next"></button></a>
        </div>


    </div>
    <footer class="v-footer">
        <div class="footer-row">
            <div class="footer-col about">
                <h3>About us
                    <div class="underline"><span></span></div>
                </h3>
                <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                </p>

            </div>

            <div class="footer-col info">
                <h3>Information
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Events</a></li>
                    <li><a href=""> Shop</a></li>
                </ul>
            </div>

            <div class="footer-col help">
                <h3>Helpfull Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="#"> Services</a> </li>
                    <li><a href=""> Student info</a></li>
                    <li><a href=""> Terms and Conditions</a></li>
                    <li><a href=""> Privacy Policy </a></li>
                </ul>
            </div>

            <div class="footer-col sub">
                <h3>Subscribe
                    <div class="underline"><span></span></div>
                </h3>
                <form>
                    <input type="email" placeholder="Your email" required>
                    <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                </form>
                <div class="social-icons">
                    <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                    <div><img src="res/social/twitter.png" alt="fb"></div>
                    <div><img src="res/social/linkedin.png" alt="fb"></div>
                    <div><img src="res/social/telegram (2).png" alt="fb"></div>

                </div>

            </div>
        </div>

        <hr>
        <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

    </footer>
    <script type="text/javascript" src="vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".feature"), {
            max: 15,
            speed: 400,
            scale: 1,
            glare: true,
            "max-glare": 1
        });

        //It also supports NodeList
        VanillaTilt.init(document.querySelectorAll(".feature"));
    </script>
</body>


</html>