<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signin.css">
    <title>Document</title>
</head>

<body .signin-body>
    <div class="signup-logo"><img src="res/images/logo2.png" alt="Werae logo"></div>
    <div class="signup-container">

        <div class="signup-email"><img src="res/signup-images/email.png" alt="pass">
            <input type="email" placeholder="Email" required></div>
        <div class="signup-password"><img src="res/signup-images/padlock.png" alt="pass">
            <input type="password" placeholder="Password" required>
        </div>

        <div class=" btn-signin-signup signup-login">
            <a href="landingpage.html"> <button class=".signup-btn-register">Sign In</button></a>
            <a href="signup.html"> <button class=".signup-btn-register">Sign Up</button></a>
        </div>
    </div>
</body>

</html>