<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signup.css">
    <title>Document</title>
</head>

<body>
    <div class="signup-logo"><img src="res/images/logo2.png" alt="Werae logo"></div>
    <div class="signup-container">

        <div class="signup-email"><img src="res/signup-images/email.png" alt="pass">
            <input type="email" placeholder="Email"></div>
        <div class="signup-password"><img src="res/signup-images/padlock.png" alt="pass">
            <input type="password" placeholder="Password">
        </div>
        <div class="signup-retype-password">
            <img src="res/signup-images/padlock.png" alt="pass">
            <input type="password" placeholder="Re-type Password">
        </div>
        <div class="signup-name">
            <div class="first-name">
                <img src="res/signup-images/account.png" alt="pass">
                <input type="text" placeholder="First Name">
            </div>
            <div class="last-name">
                <img src="res/signup-images/account.png" alt="pass">
                <input type="text" placeholder="Last Name">
            </div>
        </div>
        <div class="signup-gender">
            <div class="male">
                <input type="radio" id="male" name="gender" value="male" checked>
                <label for="male">Male</label>
            </div>

            <div class="female">
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
            </div>
        </div>
        <div class="signup-checkbox">
            <div class="newsletter">
                <input type="checkbox" id="newsletter" name="newsletter" value="yes">
                <label for="newsletter">I want to recieve the newsletter</label>
            </div>
        </div>
        <div class="btn-signin-signup">
            <a href="landingpage.html"> <button class=".signup-btn-register">Register</button></a>
        </div>
    </div>
</body>

</html>