<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="navigation">
            <div class="logo-box">
                <img src="../Phase2/views/res/home2.png" alt="Werae Logo" class="logo">
            </div>

            <div>
                <ul class="navlinks">
                    <li><a href="blog.html" class="navs">Home <div class="nav-underline"><span></span></div></a></li>
                    <li><a href="forum.html" class="navs">About Us<div class="nav-underline"><span></span></div></a></li>
                    <li><a href="vital.html" class="navs">Contact Us<div class="nav-underline"><span></span></div></a></li>
                    <li><a href="Buy and sell.html" class="navs">Sign Up<div class="nav-underline"><span></span></div></a></li>
                    <li><a href="landingpage.html" class="navs">Sign In<div class="nav-underline"><span></span></div></a></li>
                </ul>

            </div>
        </div>

        <div class="moto">
            <h1> This IS OUR MOTO </h1>
            <button class="btn-signin">GET STARTED</button>
        </div>


    </header>
    <div class="aboutus-container">
        <h2>ABOUT US</h2>

        <div class="cards">
            <div class="together">
                <div class="boxs box1">
                    <div class="img-section">
                        <img src="../Phase2/views/res/event.png" alt="">
                    </div>

                    <div class="content-section">
                        <ul>
                            <li>
                                <h3> sit amet consectetur: </h3>consectetur adipisicing elit. Consequatur voluptatibus voluptates distinctio vitae rerum provident dolore velit, repellat dignissimos magni voluptas fuga fugiat perferendis! Ullam quo alias culpa
                                nisi? Eius.
                            </li>
                            <li>
                                <h3> sit amet consectetur: </h3>amet consectetur adipisicing elit. Velit architecto in blanditiis, eveniet temporibus repellendus, assumenda neque impedit quos inventore libero minus tenetur corporis magnam enim officia cum
                                ipsa explicabo!</li>
                        </ul>
                    </div>
                </div>


                <div class="boxs box2">
                    <div class="img-section">
                        <img src="../Phase2/views/res/event.png" alt="">

                    </div>
                    <div class="content-section">
                        <ul>
                            <li>
                                <h3> sit amet consectetur: </h3>r adipisicing elit. Consequatur voluptatibus voluptates distinctio vitae rerum provident dolore velit, repellat dignissimos magni voluptas fuga fugiat perferendis! Ullam quo alias culpa nisi?
                                Eius.
                            </li>
                            <li>
                                <h3> sit amet consectetur: </h3> consectetur adipisicing elit. Velit architecto in blanditiis, eveniet temporibus repellendus, assumenda neque impedit quos inventore libero minus tenetur corporis magnam enim officia cum ipsa
                                explicabo!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="boxs box3">
                <div class="img-section">
                    <img src="../Phase2/views/res/event.png" alt="">

                </div>
                <div class="content-section">
                    <ul>
                        <li>
                            <h3> sit amet consectetur: </h3>
                            Lorem ipsum doloradipisicing elit. Consequatur voluptatibus voluptates distinctio vitae rerum provident dolore velit, repellat dignissimos magni voluptas fuga fugiat perferendis! Ullam quo alias culpa nisi? Eius.
                        </li>
                        <li>
                            <h3> sit amet consectetur: </h3>onsectetur adipisicing elit. Velit architecto in blanditiis, eveniet temporibus repellendus, assumenda neque impedit quos inventore libero minus tenetur corporis magnam enim officia cum ipsa explicabo!</li>
                    </ul>
                </div>
            </div>



        </div>

        <div class="howitworks">
            <div class="card2">
                <h2>HOW IT WORKS</h2>
                <div class="card2-box">
                    <div class="card2-content-section">
                        <h4>User Accounts or individual</h4>
                        <ul>
                            <li>

                                Lorem ipsum doloradipisicing elit. Consequatur voluptatibus voluptates distinctio vitae rerum provident dolore velit, repellat dignissimos magni voluptas fuga fugiat perferendis! Ullam quo alias culpa nisi? Eius.
                            </li>
                            <li>
                                onsectetur adipisicing elit. Velit architecto in blanditiis, eveniet temporibus repellendus, assumenda neque impedit quos inventore libero minus tenetur corporis magnam enim officia cum ipsa explicabo!</li>
                        </ul>
                    </div>
                </div>
                <div class="card2-box">
                    <div class="card2-content-section">
                        <h4>User Accounts or individual</h4>
                        <ul>
                            <li>

                                Lorem ipsum doloradipisicing elit. Consequatur voluptatibus voluptates distinctio vitae rerum provident dolore velit, repellat dignissimos magni voluptas fuga fugiat perferendis! Ullam quo alias culpa nisi? Eius.
                            </li>
                            <li>
                                onsectetur adipisicing elit. Velit architecto in blanditiis, eveniet temporibus repellendus, assumenda neque impedit quos inventore libero minus tenetur corporis magnam enim officia cum ipsa explicabo!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="signin-button">
            <button>SIGN IN</button>
        </div>


    </div>
    <div class="v-footer">
        <div class="footer-row">
            <div class="footer-col about">
                <h3>About us
                    <div class="underline"><span></span></div>
                </h3>
                <p> we provide information regarding our Campus Addis Ababa Science and Technology University
                </p>

            </div>

            <div class="footer-col info">
                <h3>Information
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href=""> About us </a></li>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> Events</a></li>
                    <li><a href=""> Shop</a></li>
                </ul>
            </div>

            <div class="footer-col help">
                <h3>Helpfull Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="#"> Services</a> </li>
                    <li><a href=""> Student info</a></li>
                    <li><a href=""> Terms and Conditions</a></li>
                    <li><a href=""> Privacy Policy </a></li>
                </ul>
            </div>

            <div class="footer-col sub">
                <h3>Subscribe
                    <div class="underline"><span></span></div>
                </h3>
                <form>
                    <input type="email" placeholder="Your email" required>
                    <button type="submit"><img src="res/arrow-right-solid.svg" alt="Send"></button>
                </form>
                <div class="social-icons">
                    <div> <img src="res/social/facebook-app-symbol.png" alt="fb"></div>
                    <div><img src="res/social/twitter.png" alt="fb"></div>
                    <div><img src="res/social/linkedin.png" alt="fb"></div>
                    <div><img src="res/social/telegram (2).png" alt="fb"></div>

                </div>

            </div>
        </div>

        <hr>
        <p class="copyright">Werae &copy; 2022 - All Right Reserved</p>

    </div>
</body>

</html>